// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #353535;
$light-gray: #F4F4F4;


$pink: #F59CA9;
$dark-blue: #1D3557;
$white: #FDFFFC;
$gray-blue: #658E9C;
$gray: #353535;
$background-color: #FDFFFC;
