.head {
  margin: 20px;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.activity-info {

}

.links {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.pictures-box-new {
  width: 100vw;
  height: 300px;
}

.picture {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: $white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.booking-form {
  display:flex;
  justify-content: right;

}



