.head {
  margin: 20px;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.activity-info {

}

.links {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.pictures {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.booking-form {
  display:flex;
  justify-content: right;

}



