// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 90vh;
  align-items: center;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner a {
  color: white;
  opacity: 0.8;
}

.container {
  position: relative;
}

.categories{
  padding: 3em;
}

.categories-title {
  text-align: center;
}

.host-container {
  padding: 3em 3em;
  background:black;
}

.become-host {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  border-radius: 12px;
}

.become-host h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.become-host p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.become-host a {
  color: white;
  opacity: 0.8;
}

