<div class="footer">
    <div class="footer-copyright">
      <!-- © 2021 xSport bnb, Inc • Confidentialité • Conditions générales • Plan du site • Infos sur l'entreprise -->
      <a href="#">© 2021 xSport bnb, Inc •</a>
      <a href="#">Confidentialité •</a>
      <a href="#">Conditions générales •</a>
      <a href="#">Plan du site •</a>
      <a href="#">Infos sur l'entreprise</a>
    </div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
</div>