<div class="footer py-2 fixed-bottom">
    <div class="footer-copyright">
      <!-- © 2021 xSport bnb, Inc • Confidentialité • Conditions générales • Plan du site • Infos sur l'entreprise -->
      <a href="#">© 2021 xSport bnb, Inc •</a>
      <a href="#">Confidententiality •</a>
      <a href="#">Conditions •</a>
      <a href="#">Map •</a>
      <a href="#">Additional Infos</a>
    </div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
</div>
