.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 2em;
  // width: clamp(20ch, 50%, 40ch);
  // max-width:
  border-radius: 5px;
  border: none;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


// .list-item-padding {
//   padding: 16px;
//   margin: 10px;
// }

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 20px;
  color: black;
}

.card-product {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 350px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  overflow: hidden;
  background: white;
  margin: 5px;
  position: relative;
}

.card-product .card-product-infos .card-product-infos-price {
  position: absolute;
  right: 25px;
  bottom: 20px;
  width: 40px;
}

.cards-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding:  16px;
  flex-grow: 1;
  margin: 10px;
}