.container-comments {
  padding: 0 3em;
  background: black;
  & h1{
    color: white;
    padding-top: 1em;
  }
}

.comment-image {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
}

.card > .comment-section {
  height: 200px;
  background: black !important;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
  opacity: 1;
  &:hover {
    background: black !important;
    color: white;
  }
}
