.form {
  max-width: 70%;
  & .form-control {
  border: 0px solid white !important;
  // border-left: 2px solid black !important;
  // border-right: 2px solid black !important;
  // border-radius: 0 !important;
  } & .form-group {
    margin: 0;
  }
}

.container-for-form {
  display: flex;
  justify-content:center;
  margin-top: 50px;
}

.container-search-banner {
  display: flex;
  justify-content: space-between;
  background: rgba(52,58,64, 0.4);
  width: 25vw;
  padding: 10px 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  align-items: center;
  & .btn {
    color: white;
    margin-left: 1em;
  }
  & p {
    margin: 0;
    color: white !important;
    font-size: 1em !important;
    opacity: 1 !important;
    text-shadow: 0 !important;
  }
}

.banner-position {
  position: absolute;
  top: 150px;
  width: 100vw;
}
