.banner-host {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

.banner-host h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-host p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-host a {
  color: white;
  opacity: 0.8;
}

.flex-host {
  display: flex;
  max-height: 30vh;
  justify-content: center;
  align-items: center;
}

.container-host {
  width: 50%;
  margin: 0;
  padding: 0.5em;
  & p {
    margin: 0;
  }
}

.container-host-two {
  width: 50%;
  margin: 0;
  padding: 0.5em;
  display: grid;
  grid-auto-flow: column;
  & a {
    margin: 5px;
    justify-text: center;
  }
}

@media (max-width: 770px) {
  .container-host-two {
    grid-auto-flow: row;
  }
}







