.banner-host {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

.banner-host h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-host p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-host a {
  color: white;
  opacity: 0.8;
}

.container-host {
  width: 50%;
  max-height: 30vh;
  margin: 0;
  padding: 0.5em;
  & h1 {
    border-right: 3px solid white;
  }
}

.container-host > .two {
  display: flex;
  flex-direction: column;
  & a {
    margin: 5px;
  }
}

.flex-host {
  display: flex;
}
