.main-container {
  display: grid;
  grid-template-columns: 1fr 480px;
}

.mapboxgl-canvas {
  padding: 20px;
  margin: 10px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  padding: 16px;
  position: sticky;
  top: 90px;
  
}


@media(max-width: 100px) and (max-width: 575px) {
  .cards-product {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

@media(max-width: 992px) {
  .cards-product {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

@media(min-width: 1200px){
  .cards-product {
    grid-template-columns: 1fr 1fr;
  }
    #map {
      display: block;
    }
  }
