.navbar-lewagon {
  justify-content: space-between !important;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: rgba(255,255,255, 0.9);
  height: 70px !important;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.banner a {
  color: $dark-blue !important;
}

.nav-item {
  display: flex;
  text-align: center;
}
