// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// JS
@import 'select2/dist/css/select2';

body {
  background-color: $background-color !important;
  padding-top: 70px;
}

h2, h3, h5 {
  color: $dark-blue;
}

h3 {
  font-weight: 500;
}

h5 {
  font-weight: 700px;
}

p {
  color: $gray;
}

a {
  color: $gray-blue !important;
}
