<div class="container mt-2">
  <div class="container-login">
    <h2 class="text-center pb-3">Make your changes!</h2>
  <div class="user-login-signup">
    <%= render "form", activity: @activity %>
  </div>
</div>
