<div class="container">
  <h2>My activities</h2>
  <ul>
    <% current_user.activities.each do |activity| %>
      <li><%= link_to activity.name, activity_path(activity) %> by: <%= activity.user.first_name %></li>
    <% end %>
  </ul>
  <%= link_to "Back to Home page", root_path, class: "btn btn-primary" %>
</div>
